In [26]:
import mysql.connector
import hashlib

db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': '1029384756',
    'database': 'users',
}

In [27]:
connection = mysql.connector.connect(**db_config)

cursor = connection.cursor()
# cursor = db_config.cursor()
hashlib.sha512('1029384756'.encode('utf-8')).hexdigest()

'5532120408754d5be111ccfbdc06311aec0b990b74e62ace884cfae42fabc1df559ad13679aa2e5af1e0d2a830bb77ebf684539d40c327ec511fc6a69f0de170'


# Удаление Таблицы
USE database_name;
DROP TABLE table_name;

In [28]:
# Добавление таблицы с параметрами
create_users_table_query = "CREATE TABLE users_info (\
    id INT PRIMARY KEY AUTO_INCREMENT,\
    admin BOOL,\
    hashed_password VARCHAR(128),\
    email VARCHAR(100) UNIQUE,\
    username VARCHAR(50) NOT NULL,\
    phone_number VARCHAR(15) NOT NULL,\
    first_name VARCHAR(50) NOT NULL,\
    last_name VARCHAR(50) NOT NULL,\
    age INT,\
    sex VARCHAR(15),\
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP);"

create_orders_table_query = "create table orders (\
    id_order int primary key auto_increment,\
    email VARCHAR(100),\
    information varchar(500),\
    created_at timestamp default current_timestamp,\
    FOREIGN KEY (email) REFERENCES users_info(email) ON DELETE CASCADE);"

create_dresses_table_query = "create table dresses(\
    id_dress int primary key auto_increment,\
    title varchar(50),\
    collection varchar(50),\
    source longblob,\
    price float,\
    created_at timestamp default current_timestamp);"

image_path = "static/images/autumn.jpg"

with open(image_path, "rb") as image_file:
    image_data = image_file.read()

# print(image_data)

dress = {
    'title': 'Autumn Fashion Dress',
    'collection': 'autumn',
    'source': image_data,
    'price': 25.99
}

add_dress_to_dresses_query = "\
    INSERT INTO dresses (title, collection, source, price)\
    VALUES (%(title)s, %(collection)s, %(source)s, %(price)s)"

order = {

}

user_data = {
    'admin': True,
    'hashed_password': hashlib.sha512('1029384756'.encode('utf-8')).hexdigest(),
    'email': 'admin@admin.admin',
    'username': 'admin',
    'phone_number': '+35712345678',
    'first_name': 'admin',
    'last_name': 'admin',
    'age': 100,
    'sex': 'none'
}

user_data_a = {
    'admin': True,
    'hashed_password': hashlib.sha512('a'.encode('utf-8')).hexdigest(),
    'email': 'a',
    'username': 'a',
    'phone_number': '+35712345678',
    'first_name': 'admin',
    'last_name': 'admin',
    'age': 100,
    'sex': 'none'
}

add_user_to_users_query = "\
    INSERT INTO users_info (admin, hashed_password, email, username, phone_number, first_name, last_name, age, sex)\
    VALUES (%(admin)s, %(hashed_password)s, %(email)s, %(username)s, %(phone_number)s, %(first_name)s, %(last_name)s, %(age)s, %(sex)s);"


select_all_from_users_query = "SELECT * FROM users_info;"
select_all_from_dresses_query = "SELECT * FROM dresses;"

In [29]:
# cursor.execute(create_dresses_table_query)

#Добавление данных в таблицу
cursor.execute(add_user_to_users_query, user_data_a)

# cursor.execute(add_dress_to_dresses_query, dress)



# Применение изменений
connection.commit()

In [30]:
cursor.execute(select_all_from_users_query)

result = cursor.fetchall()

# Вывод результатов
for row in result:
    print(row)

(1, 1, '5532120408754d5be111ccfbdc06311aec0b990b74e62ace884cfae42fabc1df559ad13679aa2e5af1e0d2a830bb77ebf684539d40c327ec511fc6a69f0de170', 'admin@admin.admin', 'admin', '+35712345678', 'admin', 'admin', 100, 'none', datetime.datetime(2023, 7, 24, 12, 49, 8))
(2, 1, '1f40fc92da241694750979ee6cf582f2d5d7d28e18335de05abc54d0560e0f5302860c652bf08d560252aa5e74210546f369fbbbce8c12cfc7957b2652fe9a75', 'a', 'a', '+35712345678', 'admin', 'admin', 100, 'none', datetime.datetime(2023, 7, 25, 0, 22, 27))

In [31]:
cursor.close()
connection.close()